.labeldashboard{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
li{
    list-style: none;
}
.indicadores-dropdown{
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.uldashboard {
  display: inline-flex;
  list-style: none;
  padding: 0;
}


.labeldashboard input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.filtroDashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}
.filtroDashboard ul{
    padding: 20px;
}
.filtroDashboard ul:hover
{
    background-color: #1b7d8a;
    color: #ffffff;
}



.filtroDashboard button{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}
.filtroDashboard button:hover{
    background-color: #000000;
    color: #ffffff;
}

